html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  background-color: #f2f1ed;
  margin: 1em;
}

img {
  grid-column: 1/-1;
  grid-row: 1/-1;
  max-width: 100%;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 15rem;

  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
}

h1 {
  z-index: 2;
  top: 26rem;
  left: 1rem;
  max-width: 14rem;
  grid-column: 1;
  grid-row: 2;
}

.pano {
  margin-bottom: 1rem;
}

nav {
  grid-column: 2;
  grid-row: 1;

}

nav ul {
  display: flex;
  top: .5rem;
  right: 1rem;
  margin-right: 1em;

}

ul {
  list-style-type: none;
  font-family: "Patua one", sans-serif;
  font-size: 2rem;
}

ul li a {
  color: #fff;
  margin: 1rem;
}

figure {
  margin: 0;
}

h2 {
  color: #30658d;
  font-family: "Patua one", sans-serif;
}
