html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

h1 {
  position: absolute;
  z-index: 2;
  top: 25rem;
  left: 1rem;
  max-width: 14rem;
}

.pano {
  position: relative;
}

nav ul {
  display: flex;
  position: absolute;
  top: 1rem;
  right: 1rem;

}

ul {
  list-style-type: none;
  font-family: "Patua one", serif;
  font-size: 2rem;
}

ul li a {
  color: #fff;
  margin: 1rem;
}

h2 {
  color: #30658d;
  font-family: "Patua one", serif;
}
