html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: grid;
}

ul {
  list-style-type: none;
  font-family: "Patua one", serif;
  font-size: 2rem;
}

ul li a {
  color: #000;
}
